		<!DOCTYPE HTML>
<html>
<head>
		<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>


		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
					<link rel="stylesheet" href="http://i.oodleimg.com/caml/basic/1368741565/" type="text/css" charset="utf-8" />
					<link rel="stylesheet" href="http://i.oodleimg.com/caml/detail-2011/1373583250/" type="text/css" charset="utf-8" />
													<script type="text/javascript" src="http://i.oodleimg.com/jaml/lib/1379371955?cc=USA&partner=www"></script>
					<script type="text/javascript" src="http://i.oodleimg.com/jaml/detail/1368741567?cc=USA&partner=www"></script>
					<script type="text/javascript" src="http://i.oodleimg.com/jaml/social-listings/1368741568?cc=USA&partner=www"></script>
								<!-- EST -->		
		
			<meta content="2005 Lexus LX 470 (Galactic Gray Mica), 3441249537, Used Grey 2005 Lexus lx 470 Cars for $23,876 for Sale in St. Cloud, MN, Cars for sale, St. Cloud, MN Cars for sale, Lexus lx 470, 2005 Lexus, lx 470 , Grey 2005 Lexus lx 470" name="keywords" />
				<meta content="2005 Lexus LX 470 (Galactic Gray Mica) - 3441249537. This is a Grey 2005 Lexus lx 470 Car for Sale in Saint Cloud MN posted on Oodle Marketplace. 2005 Lexus LX 470 (Galactic Gray Mica) 4X4, Local Trade, Clean Carfax, LOADED, 2005 Lexus LX 470, 4D Sport Utility,..." name="description" />
						<meta property="marketplace:seller" content="http://www.oodle.com/profile/marketplace-user//" />
			<meta property="fb:app_id" content="128581025231" />
			<meta property="fb:admins" content="1760926580,560285887,1092502671,1126473138" />
			<meta property="og:url" content="http://fb.oodle.com/?f=3441249537" />
			<meta property="og:title" content="2005 Lexus LX 470 (Galactic Gray Mica)" />
			<meta property="og:description" content="2005 Lexus LX 470 (Galactic Gray Mica) 4X4, Local Trade, Clean Carfax, LOADED, 2005 Lexus LX 470, 4D Sport Utility,..." />
			<meta property="og:type" content="marketplace:listing" />
			<meta property="og:image" content="http://fjdsaifodsafdos.com" />
			<title>2005 Lexus LX 470 (Galactic Gray Mica) |  Grey 2005 Lexus lx 470 Car for Sale in Saint Cloud MN | 3441249537 | Used Cars on Oodle Marketplace</title>
	<link rel="shortcut icon" href="http://i.oodleimg.com/favicon.ico" />
	<link rel="publisher" href="https://plus.google.com/108394286411507889146" />
			<link rel="canonical" href="http://cars.oodle.com/detail/2005-lexus-lx-470-galactic-gray-mica/3441249537-saint-cloud-mn/" />
		<script type="text/javascript">
	<!--
	if (typeof(odl) == 'undefined')
		odl = {};
	odl.info = {"country_code":"USA","region_id":184,"user_id":null,"user_img":"http:\/\/i.oodleimg.com\/a\/account\/facebook_silhouette.gif","logged_in":false,"partner_id":1,"fbjs_enabled":true,"location":{"loc":null,"text":"Saint Cloud, MN","radius":null,"country":"USA","region_id":184,"city_code":"usa:mn:saintcloud","zipcode":null,"origin":"default"},"domain":".oodle.com","fb_logged_in":false,"page":{"type":6},"https":false,"ip_address":"rpMGDRp-CZieXShvuyizYsgrGegzxs-l","partner_tag":"www","partner_group":"oodle","partner_masquerade":"www","partner_is_social":true,"is_facebook":false,"domain_url":"http:\/\/www.oodle.com\/","base_path":"\/","image_root":"http:\/\/i.oodleimg.com","s_name":"osid","s_id":"7c9b07d1b368da93d359f2ff307c9835","debug":false,"fb":{"appId":"128581025231","logging":true,"status":true,"cookie":false,"xfbml":true,"oauth":true},"fb_base_url":"http:\/\/apps.facebook.com\/marketplace\/","tmsid":"8a1b206b91837cb1c3d9c6f099d3bc8916501b50","prefs":{"favorites":{"show_on_add":1}}};
			//-->
	</script>
				
 
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-1', [300, 250], 'div-gpt-ad-1346975622459-0').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-2', [300, 250], 'div-gpt-ad-1346975622459-1').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-3', [300, 250], 'div-gpt-ad-1346975622459-2').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-4', [300, 250], 'div-gpt-ad-1346975622459-3').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-1', [728, 90], 'div-gpt-ad-1346975622459-4').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-2', [728, 90], 'div-gpt-ad-1346975622459-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
 
});
</script>
 
	</head>


	<body>
<script type="text/javascript">
odl.event.trigger("header.start");
</script>
<script type="text/javascript">
Oodle.EXJS.Versions = {"fbc":"11384182000","google_maps":"11384128000","msn_map":"11384182000","recaptcha":"31384182000","fbc_new":"11384182000","legacy_yui2":"11384128000"};
</script>
 
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-1', [300, 250], 'div-gpt-ad-1346975622459-0').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-2', [300, 250], 'div-gpt-ad-1346975622459-1').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-3', [300, 250], 'div-gpt-ad-1346975622459-2').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-4', [300, 250], 'div-gpt-ad-1346975622459-3').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-1', [728, 90], 'div-gpt-ad-1346975622459-4').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-2', [728, 90], 'div-gpt-ad-1346975622459-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
 
});
</script>
 
<div class="dfp-universal-header-gradient">
<div class="dfp-universal-header">
<div id=header-container class="clearfix">
<div class="map-header clearfix oodle-logo">
<a class="logo" href="http://www.oodle.com/"></a>
<div id="univ-change-loc">
</div>
<div class="header-right" class="clearfix">
<ul id="header-list">
<li id="univ-header-heart">
<span class="tetris-heart_on" onclick="odl.auth2.login({login_mode: 'facebook', event_params: {event_name: 'FavoriteLogin', event_page: 'universal-header'}, success: function(){ window.location.href = '/profile/-/' + odl.info.user_id + '/favorites/'; }});" title="Favorites"></span>
<span class="blue-dot"></span>
</li>
<li>
<ul id="browse-category-header-wrapper">
<li id="header-browse-category-link"><span>Browse<span class="tetris-blue-down-arrow down-arrow"></span></span></li>
<li id="header-browse-category-menu">
<ul id="header-browse-category-list">
<li class="main-cat">
<a href="http://forsale.oodle.com/classifieds/saint-cloud-mn/">Merchandise</a>
</li>
<li class="main-cat">
<a href="/used-cars/saint-cloud-mn/">Cars</a>
</li>
<li class="main-cat">
<a href="http://apartments.oodle.com/saint-cloud-mn/">Rentals</a>
</li>
<li class="main-cat">
<a href="http://realestate.oodle.com/saint-cloud-mn/">Real Estate</a>
</li>
<li class="main-cat">
<a href="http://jobs.oodle.com/careers/saint-cloud-mn/">Jobs</a>
</li>
<li class="main-cat">
<a href="http://pets.oodle.com/all/saint-cloud-mn/">Pets</a>
</li>
<li class="main-cat">
<a href="http://tickets.oodle.com/events/saint-cloud-mn/">Tickets</a>
</li>
<li class="super-cat">
<a href="http://vehicles.oodle.com/used-vehicles/saint-cloud-mn/">All Vehicles</a>
</li>
<li class="sub-cat">
<a href="http://motorcycles.oodle.com/used-motorcycles/saint-cloud-mn/">Motorcycles</a>
</li>
<li class="sub-cat">
<a href="http://boats.oodle.com/used-boats/saint-cloud-mn/">Boats</a>
</li>
<li class="sub-cat">
<a href="http://rvs.oodle.com/used-rvs/saint-cloud-mn/">RVs</a>
</li>
<li class="main-cat">
<a href="http://apartments.oodle.com/saint-cloud-mn/">All Rentals</a>
</li>
<li class="sub-cat">
<a href="http://officespace.oodle.com/saint-cloud-mn/">Office Space</a>
</li>
<li class="sub-cat">
<a href="http://vacationrentals.oodle.com/saint-cloud-mn/">Vacation Rentals</a>
</li>
<li class="main-cat">
<a href="http://pets.oodle.com/all/saint-cloud-mn/">All Pets</a>
</li>
<li class="sub-cat">
<a href="http://dogs.oodle.com/all/saint-cloud-mn/">Dogs</a>
</li>
<li class="sub-cat">
<a href="http://cats.oodle.com/all/saint-cloud-mn/">Cats</a>
</li>
<li class="sub-cat">
<a href="http://horses.oodle.com/all/saint-cloud-mn/">Horses</a>
</li>
<li class="main-cat">
<a href="http://services.oodle.com/saint-cloud-mn/">Services</a>
</li>
<li class="main-cat">
<a href="http://personals.oodle.com/dating/saint-cloud-mn/">Personals</a>
</li>
<li class="main-cat">
<a href="http://community.oodle.com/saint-cloud-mn/">Community</a>
</li>
</ul>
</li>
</ul>
</li>
<li id="post-listing-holder"><a onclick="safecall(odl.post2.showPostLightbox, function(){if(typeof(odl.post2) != 'undefined'){return typeof(odl.post2.showPostLightbox);}}); return false;">Post</a><span class="blue-dot"></span></li>
<li id="header-myaccount-holder" class="more-myaccount-hide dropdown" style="display: inline-block;">
<a id="sign-in-link" href="javascript:void(0)" onclick="odl.auth2.login({ login_mode: 'facebook-and-oodle', bounceURL: window.location.href })" rel="nofollow">Sign In</a>
<script>
var myAccount = new odl.dropdownMenu('#header-myaccount-holder .my-name', '#header-myaccount-list', odl.myaccounttab.callback, 'slide');
</script></li>
<li id="search-box-holder" class="clearfix">
 <form method="get" action="http://cars.oodle.com/browse_redir/" name="search-form" id="search-form" >
<input type="hidden" name="reset" value="1" />
<input type="hidden" name="t" value="" />
<input type="hidden" name="g" value="usa:mn:saintcloud" />
<input type="hidden" name="r" value="" />
<input type="hidden" name="s" value="" />
<input type="hidden" name="v" value="" />
<input type="hidden" name="inbs" value="" />
<input placeholder="Search All Marketplace" name="q" id="search-what" maxlength="80" value="" /><a href="#" id="search_submit" onclick="$('search-form').submit();"></a>
<div id="search-what-error"></div>
<script>
jQ('#search-what').hint({label:1});
</script>
</form>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="wrapper-contextual-header ">
<div class="contextual-header">
<a id="prev-page-return" rel="nofollow" href="/2000_2010-lexus-lx_470/st-cloud-mn-area/mileage_100000+/price_20000_27000/"><span id="prev-page-image"></span><div>See Similar Listings</div></a>
<ul class="category-tabs">
<li class="tab"><a href="http://www.oodle.com/">Home</a><span class="blue-dot"></span></li><li class="tab tab first"><a href="http://forsale.oodle.com/classifieds/saint-cloud-mn/">Merchandise</a><span class="blue-dot"></span></li><li class="tab tab active"><a href="/used-cars/saint-cloud-mn/">Cars</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://apartments.oodle.com/saint-cloud-mn/">Rentals</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://realestate.oodle.com/saint-cloud-mn/">Real Estate</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://jobs.oodle.com/careers/saint-cloud-mn/">Jobs</a><span class="blue-dot"></span></li><li id="header-more-category-link">More<span class="arrow"></span></li><li id="header-more-category-menu"><ul id="header-more-category-list"><li class="main-cat"><a href="http://forsale.oodle.com/classifieds/saint-cloud-mn/">Merchandise</a></li><li class="main-cat"><a href="/used-cars/saint-cloud-mn/">Cars</a></li><li class="main-cat"><a href="http://apartments.oodle.com/saint-cloud-mn/">Rentals</a></li><li class="main-cat"><a href="http://realestate.oodle.com/saint-cloud-mn/">Real Estate</a></li><li class="main-cat"><a href="http://jobs.oodle.com/careers/saint-cloud-mn/">Jobs</a></li><li class="main-cat"><a href="http://pets.oodle.com/all/saint-cloud-mn/">Pets</a></li><li class="main-cat"><a href="http://tickets.oodle.com/events/saint-cloud-mn/">Tickets</a></li><li class="super-cat"><a href="http://vehicles.oodle.com/used-vehicles/saint-cloud-mn/">All Vehicles</a></li><li class="sub-cat"><a href="http://motorcycles.oodle.com/used-motorcycles/saint-cloud-mn/">Motorcycles</a></li><li class="sub-cat"><a href="http://boats.oodle.com/used-boats/saint-cloud-mn/">Boats</a></li><li class="sub-cat"><a href="http://rvs.oodle.com/used-rvs/saint-cloud-mn/">RVs</a></li><li class="main-cat"><a href="http://apartments.oodle.com/saint-cloud-mn/">All Rentals</a></li><li class="sub-cat"><a href="http://officespace.oodle.com/saint-cloud-mn/">Office Space</a></li><li class="sub-cat"><a href="http://vacationrentals.oodle.com/saint-cloud-mn/">Vacation Rentals</a></li><li class="main-cat"><a href="http://pets.oodle.com/all/saint-cloud-mn/">All Pets</a></li><li class="sub-cat"><a href="http://dogs.oodle.com/all/saint-cloud-mn/">Dogs</a></li><li class="sub-cat"><a href="http://cats.oodle.com/all/saint-cloud-mn/">Cats</a></li><li class="sub-cat"><a href="http://horses.oodle.com/all/saint-cloud-mn/">Horses</a></li><li class="main-cat"><a href="http://services.oodle.com/saint-cloud-mn/">Services</a></li><li class="main-cat"><a href="http://personals.oodle.com/dating/saint-cloud-mn/">Personals</a></li><li class="main-cat"><a href="http://community.oodle.com/saint-cloud-mn/">Community</a></li></ul></li>
</ul>
<div class="clearing"></div>
</div>
</div>
<div class="clear"></div>
<div id="container">
<div class="clearfix">
</div>
<script type="text/javascript">
odl.event.trigger("header.end");
</script>
<div id="content-container" class="clearfix  ">

			<div class="category-breadcrumbs">
					<a href="http://cars.oodle.com/" title="Car for Sale">Car for Sale</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="/regions/" title="USA">USA</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="/regions/minnesota/" title="MN">MN</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/used-cars/st-cloud-mn-area/" title="St. Cloud Area">St. Cloud Area</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/lexus/st-cloud-mn-area/" title="Lexus">Lexus</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/lexus-lx_470/st-cloud-mn-area/" title="Lx 470">Lx 470</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
						<a href="http://cars.oodle.com/2005-lexus-lx_470/st-cloud-mn-area/" title="2005">2005</a>
			
		
		
	- <h1 class="detail-heading">2005 Lexus LX 470 (Galactic Gray Mica) |  Grey 2005 Lexus lx 470 Car for Sale in Saint Cloud MN | 31</h1>
	
		</div>
		
		
	<div id="main-column-wrapper" class="clearfix" style=" padding-left: 10px; ">
									
		<div id="main-column">
			<div id="connected-user" class="clearfix">
									<div id="seller-info-wrapper" class="clearfix">
	<div id="seller-image">
		<img class='profileimg' src="http://i.oodleimg.com/a/unverified_userphoto.png" />
	</div>
	<div id="seller-n-friends-wrapper">
		<div>
			<span id="seller-name">Unknown User</span>
		</div>

				<div id="seller-personal-info">
			<p>
				This listing was posted on <a href="/r_dtmn_/3441249537-1768u454,184/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpeGcU2QbwX8mb90hzsDTsRA," target="_blank" rel="nofollow">MotoSeller.com</a>.
			</p>
		</div>

		<div id="face-pile-container" class="empty">	
			You have no shared connections.
					</div>
			</div>
</div>
								
				
									 						
			<div id="next-listings-wrap"  style="display: none;" data-odl-event="{event_name: 'seller_header', event_type: 'view_details', status:'next_listing', algo_logic: 'OTHER',NextListing_Listing_ID: '', IDP_Listing_ID: '3441249537' }">
			<div id="next-listings" style="cursor:pointer;"  	>
				<div id="nl">
					<span class="nl-wrap"><img    /></span>
					<span class="nl-wrap tweak-width"><a>Next Listing</a></span>
				</div>
			</div>
		</div>
	
			<script type="text/javascript">
			jQ('body').bind("amplify.ready", function() {
				var currentListingId = 3441249537;
				var nl = amplify.store("nl");
				var nextListing = null;
				if (nl)
				{
					if (nl.length == 1)
					{
						jQ("#next-listings-wrap").css("display","none");
					}
					else
					{
						listingPresent = false;
						for (i in nl)
						{
							var temp = nl[parseInt(i)];
							if (currentListingId == temp.listingId)
							{
								listingPresent = true;
								if ((parseInt(i)+1) >= nl.length )
									i = -1;

								nextListing = nl[parseInt(i)+1];
								var reportingParams = {
									event_name: 'seller_header',
									event_type: 'view_details',
									status:'next_listing',
									algo_logic: 'OTHER',
									NextListing_Listing_ID: nextListing.listingId,
									IDP_Listing_ID: currentListingId
								};
								jQ("#next-listings").click(function(){
									odl.event.trackNamed(reportingParams,
										function(){
											window.location.href = nextListing.alt_listing_url;
									});
								});
								jQ("#next-listings img").attr("src",nextListing.image_url);
								jQ("#next-listings-wrap").css("display","block");
								break;
							}
							else
								listingPresent = false;
						}
						if (!listingPresent && typeof(nextListing) != 'undefined' && nextListing && nextListing.listingId)
						{
							listingPresent = true;
							nextListing = nl[parseInt(0)+1];

							var reportingParams = {
								event_name: 'seller_header',
								event_type: 'view_details',
								status:'next_listing',
								algo_logic: 'OTHER',
								NextListing_Listing_ID: nextListing.listingId,
								IDP_Listing_ID: currentListingId
							};
							jQ("#next-listings").click(function(){
								odl.event.trackNamed(reportingParams,
									function(){
										window.location.href = nextListing.alt_listing_url;
								});
							});
							jQ("#next-listings img").attr("src",nextListing.image_url);
							jQ("#next-listings-wrap").css("display","block");
						}
					}
				}
				else
				{
					jQ("#next-listings-wrap").css("display","none");
				}
			});
		</script>
								</div>
			<div id="main-left-col">
					<div class="wbgbr1">
							
	<div id="user-pointer">&nbsp;</div>
		


<div id="listing-detail-container" class="clearfix offsetArrowSpace">
	 
			
	
					
	<div class="detail-title" id="listing-title-adtype">
		 
			<div id="detail-title-price">
			<span>$23,876</span>
			</div>
				
		<h2 id="detail-title-text">
			2005 Lexus LX 470 (Galactic Gray Mica)
		</h2>
		
		<div class="clearing"></div>		
	</div>
	
	
		
		<script>
		if (typeof(odl) == 'undefined') odl = {};
		if (typeof(odl.detail) == 'undefined') odl.detail= {};
	
		odl.detail.listingID = 3441249537;
		odl.detail.oodleCanonicalURL = 'http://cars.oodle.com/detail/2005-lexus-lx-470-galactic-gray-mica/3441249537-saint-cloud-mn/';
		odl.detail.isPro = false;
	</script>

		

	
	<div id="detail-wrapper">
		<div id="slert-slert"></div>
		
		<div id="detail-info"  class="no-image" >
			<div id="listing-title-container" class="clearfix">
							</div>
		</div>
	
												
			<div class="listing-social clearfix no-image ">
						
					<div class="listing-actions"><div class="new-listingaction" data-listingid="3441249537"
     data-gear-open-left="0"
     data-gear-no-detach="0">
	<div class="gear-link">
		<span class="gear-icon"></span>
		<span class="listing-tool-label">Tools</span>
	</div>
	<div class="action-wrapper" style="display:none">
		<ul class="new-listing-action">
		<li class="tool-header"><span class="close">X</span><span class="gear-icon"></span>Tools</li>
							<li> <a  rel="nofollow"  title="2005 Lexus LX 470 (Galactic Gray Mica)" 
					href="http://cars.oodle.com/detail/2005-lexus-lx-470-galactic-gray-mica/3441249537-saint-cloud-mn/" target="_blank" onclick="">2005 Lexus LX 470 (Gal... for $23,876</a>
			</li>
				 			<li>
				<a
																href="http://stcloud.oodle.com/r_dtmn_/3441249537-1768u454,184/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpeGcU2QbwX8mb90hzsDTsRA," target="_blank"
									>
					Respond
				</a>
			</li>
				<li class="tool-report new-section"><span class="shield-icon"></span>Stop Fraud</li>
				<li> <a  rel="nofollow"  title="Report" 
				href="javascript:void(0)" target="_blank" onclick="Oodle.Wizard.Show('message', 'report_listing', {'listing_id':'3441249537','page':'preview','category':'null'}); return false;">Report</a>
		</li>
		<li><a href="/info/safety/" target="_blank" >Learn More</a></li>
				</ul>
	</div>
</div></div>
	</div>

		
							    		 
			<div id="listing-price">
				<div class="listing-attribute">Price:</div>
																					<div class="listing-attribute-value"><span>$23,876</span> 				</div>
							     
			   		 		   		 
		   		 		<div class="carfax-promo">
							<a target="_blank" href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=ODL_0&vin=JTJHT00W054003167"><img src="http://i.oodleimg.com/a/listings/showMe.gif" /></a>
						</div>
			   		  
			    			</div>
				
								<div class="listing-attribute-container">
				<div class="listing-attribute">Financing:</div>
				<div class="listing-attribute-value"><a id="credit-score-link" target="_blank" href="http://ad.doubleclick.net/clk;274023770;100437806;w?https://stags.bluekai.com/site/15429?phint=event%3Dclick&amp;phint=aid%3D4162033&amp;phint=pid%3D100437806&amp;phint=cid%3D7771356&amp;phint=crid%3D%ecid!&amp;done=http%3A%2F%2Fwww%2Eequifax%2Ecom%2Fadvantage495%2FDSP%2F">Buying a Car? Check your Credit Score Here. Fees Apply.</a><img src="http://ad.doubleclick.net/ad/N6290.132102.OODLE/B7771356.8;sz=1x1;ord=1384183498617?" border="0" width="1" height="1" alt="Advertisement" /></div>
			</div>
									
				
				
				
				
	
						<div id="listing-secondary">
				<div class="listing-attribute">Summary: </div>
				<div class="listing-attribute-value"><span>Used</span> <span>2005</span> <span>Lexus</span> <span>Lx 470</span> <span>112,090 miles</span>, <span>Gray</span></div></div>
				
					<div id="listing-location" class="clearfix">
				<div class="listing-attribute">
					Location:
				</div>
				<div id='locText' class="listing-attribute-value"  > Saint Cloud, MN</div>
							</div>
			
			
					<div class="detail-info">
					</div>
				
		
		<div class="clear"></div>
		<div id="listing-attributes" class="detail-info">
				
																<div id="listing-description" class="clearfix">
					<div class="listing-attribute">
							Description:
					</div>
					
										<div class="listing-attribute-value"><br/ ><span>2005 Lexus LX 470 (Galactic Gray Mica) 4X4, Local Trade, Clean Carfax, LOADED, 2005 Lexus LX 470, 4D Sport Utility, five Gear Automatic with ECT-i and Overdrive, Galactic Gray Mica, Gray w/Leather Seat Trim, third row seats: split-bench, ANTILOCKING BRAKES brakes, Alloy rims, Entertainment system, Heated Front Bucket Seats, Navigation System, Power moonroof, and Rear ac. Be the talk of the town when you roll down the street in this handsome 2005 Lexus LX. J.D. Power and Associates gave the 2005 LX 4.5 out of five Power Circles for Overall Initial Quality. You never know when life is going to throw you a curve, but the antilock braking system will always be there to help stop trouble right in its tracks.</span></div>
					<div class="clearing"></div>
				</div>
						<div class="listing-normal-attributes clearfix">																																																													 
						<div class="listing-attribute-container clearfix">
							<div id="a_body_type" class="listing-attribute ">
																								Body Type:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>Sport Utility</span></div>
						</div>
																			 
						<div class="listing-attribute-container clearfix">
							<div id="a_vin" class="listing-attribute ">
																								VIN&nbsp;:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>JTJHT00W054003167</span></div>
						</div>
																			 
						<div class="listing-attribute-container clearfix">
							<div id="a_transmission" class="listing-attribute ">
																								Transmission:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>Automatic Transmission</span></div>
						</div>
																																															 
						<div class="listing-attribute-container clearfix">
							<div id="a_features" class="listing-attribute ">
																								Features:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>Air Conditioning, Front Bucket Seats, Navigation System</span></div>
						</div>
																																															 
						<div class="listing-attribute-container clearfix">
							<div id="a_created" class="listing-attribute ">
																								Posted:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span><span>July 24</span> on <a href="http://stcloud.oodle.com/r_dtmn_/3441249537-1768u454,184/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpeGcU2QbwX8mb90hzsDTsRA," target="_top" rel="nofollow">MotoSeller.com</a></span></div>
						</div>
																											
											
								
								
							</div>		</div>		
				 							
	  	
		<div>
			
		</div>
		
			</div>
</div>
<script type="text/javascript">
	var start_params = {
		event_name: 'idp_move_mortgage',
		event_type: 'idp_move_mortgage'
	};
	jQ("#move-mortgage").click(function(){
		odl.event.trackNamed(start_params);
	});
	
	var uship_params = {
		event_name: 'idp_uship',
		event_type: 'idp_uship',
		url: jQ("#uship-link").attr("href"),
		status: 'gen-success'
		
	};
	jQ("#uship-link").click(function(){
		odl.event.trackNamed(uship_params);
	});
	
	var credit_score_params = {
		event_name: 'credit_score',
		event_type: 'credit_score'
	};
	jQ("#credit-score-link").click(function(){
		odl.event.trackNamed(credit_score_params);
	});
	
	var condurre_link_params = {
		event_name: 'condurre_link',
		event_type: 'condurre_link'
	};
	
	jQ("#condurre-link").click(function(){
		odl.event.trackNamed(condurre_link_params);
	});
	
	var insurance_link_params = {
	event_name: 'insurance_link',
	event_type: 'insurance_link'
	};
	
	jQ("#insurance-link").click(function(){
		odl.event.trackNamed(insurance_link_params);
	});
	
	
</script>
					</div>
					
																								</div> 			<div id="main-right-col">
																						<div class="wbgbr">
	<h6 class="heading section-heading">Visit Our Partner Website</h6>
		This listing was posted on another website. Click here to open:
		<a class="click-off-link" href="http://stcloud.oodle.com/r_dtmn_/3441249537-1768u454,184/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpeGcU2QbwX8mb90hzsDTsRA," target="_blank" rel="nofollow" style="color: #ffffff;">Go to MotoSeller.com</a>
</div>
								
								
								
								
												
									<div class="wbgbr2">
						<div class="trustsafety">
	<div class="heading1">
		Important Safety Tips
	</div>
	
	<div id="ts-content-wrapper">
					<ul class="fraud-tips">
									<li>Meet the seller and test drive before you buy.</li>
									<li>Be cautious of underpriced items.</li>
									<li>Don&rsquo;t wire money or take advance payments.</li>
									<li>Only pay for shipping if you know the seller.</li>
							</ul>
				
		<p>
			To learn more, visit the <a href="/info/safety/">Safety Center</a>
							or <a href="javascript:void(0)" onclick="Oodle.Wizard.Show(&#039;message&#039;, &#039;report_listing&#039;, {&#039;listing_id&#039;:&#039;3441249537&#039;,&#039;page&#039;:&#039;preview&#039;,&#039;category&#039;:&#039;null&#039;}); return false;;return false;">click here</a>
				to report this listing.
					</p>
	</div>
</div>					</div>
													<div id="relatedSearchBoomReach" class="wbgbr2">
	<script type="text/javascript">var br_related_rid = "Rs2rf10n39ad19s00syg7-uf,r0,m0,h0";</script>
<script type="text/javascript">var br_iuid = "aHR0cDovL2NhcnMub29kbGUuY29tL2RldGFpbC8yMDA1LWxleHVzLWx4LTQ3MC1nYWxhY3RpYy1ncmF5LW1pY2EvMzQ0MTI0OTUzNy1zYWludC1jbG91ZC1tbi8=";</script>
	<script type="text/javascript">
		var brRelated = jQ('.br-related-query:gt(4)');
		if(typeof brRelated.get(0) === "undefined")
		{
			jQ('#relatedSearchBoomReach').hide();
		}
		else
		{
			jQ('#relatedSearchBoomReach').show();	
			brRelated.hide();
			var brMoreLinkDiv = document.createElement('div');
			jQ(brMoreLinkDiv).addClass('br-related-query');
	
			var brMoreLinkArrow = document.createElement('span');
			jQ(brMoreLinkArrow).addClass('br-related-query-more');
			
			var brMoreLink = document.createElement('a');
			jQ(brMoreLink).attr('href', 'javascript:void(0)');
			jQ(brMoreLink).html('More ');
			jQ(brMoreLinkDiv).append(brMoreLink);
			jQ(brMoreLinkDiv).append(brMoreLinkArrow);
			jQ('#br-related-searches-widget').append(brMoreLinkDiv);
			jQ(brMoreLinkDiv).click( function () {
				jQ(brMoreLinkDiv).hide();
				brRelated.show();
			});
		}
	</script>
</div>
							</div> 		</div>			
		<div class="clearing"></div>
		
					<div class="module-bottom">	
				
					<div class="clearfix module-bottom-text">
								<strong class="module-bottom-h1">More About this Listing: 2005 Lexus LX 470 (Galactic Gray Mica)</strong><br>
									 
			2005 Lexus LX 470 (Galactic Gray Mica) is a Grey 2005 Lexus lx 470 Car for Sale in Saint Cloud MN. Find other listings by searching for <a href="http://cars.oodle.com/2005-lexus-lx_470/st-cloud-mn-area/">2005 Lexus lx 470 in Saint Cloud</a> on Oodle Marketplace. 
						</div>				
				
			</div>

     				
	</div> 		<div id="sidebar">
		<div id='adRail'>
										<div id='div-gpt-ad-1346975622459-0' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-0', tile=1); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-1' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-1', tile=3); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-2' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-2', tile=4); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-3' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-3', tile=5); });
</script>
</div>

						</div>
	</div>
		
<script type="text/javascript">

var current_listing_id = '3441249537';

var is_preview_page = '1';

var next_listing_module_load = 0;
if (jQ('#next-listings-wrap').css('display') == 'block')
	var next_listing_module_load = '1';

var has_image = '0';
if (jQ('#photo-view').css('display') == 'block')
	var has_image = '1';

odl.event.trackNamed({
	event_name: 'seller_header', 
	event_type: 'next_listing_module_load', 
	status:'next_listing', 
	IDP_Listing_ID: current_listing_id,
	has_image: has_image,
	is_preview_page: is_preview_page,
	next_listing_module_load : next_listing_module_load,
	algo_logic: 'OTHER'
});
</script>
</div>
		
</div> </div> </div> </div><div id="footer"
 class="clearfix" style="margin-top: 20px;">
<div id="footer-container">
 <div style="padding:3px;font-size:12px;">
 We've recently updated our privacy policy which you can <a href="/info/privacy/">review here</a>.
 </div>
 <div id="dfp-ad-top-banner-wrapper"><div id="dfp-ad-top-banner"><div id='div-gpt-ad-1346975622459-4' style='width:728px; height:90px; margin-bottom: 15px; '>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-4', tile=6); });
</script>
</div>
</div></div>
 <div id="dfp-ad-top-banner-wrapper"><div id="dfp-ad-top-banner"><div id='div-gpt-ad-1346975622459-5' style='width:728px; height:90px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-5', tile=7); });
</script>
</div>
</div></div>
<ul class="hmenu">
<li class="first"><a href="http://www.oodle.com/info/about/" rel="nofollow">About Us</a></li>
<li><a href="http://blog.oodle.com/" rel="nofollow">Blog</a></li>
<li><a href="http://www.oodle.com/info/help/" rel="nofollow">Help</a></li>
<li><a href="http://www.oodle.com/info/safety/" rel="nofollow">Safety Center</a></li>
<li><a href="http://www.oodle.com/info/privacy/" rel="nofollow">Privacy Policy</a></li>
<li><a href="http://www.oodle.com/info/terms/" rel="nofollow">Terms of Use</a></li>
<li><a href="http://gather.qvc.com/" >toGather</a></li>
<li><a href="http://www.surveymonkey.com/s/YSGG88J" target="_blank" rel="nofollow">Send us Feedback</a></li>
</ul>
<ul id="second-line-footer" class="hmenu">
<li><a href="javascript:void(0);" onclick="Oodle.FbProfileTab.install();">Add my listings to a Facebook Page</a></li>
<li><a href="/info/mobile/" target="top" rel="nofollow">Get Marketplace on your Phone</a></li>
</ul>
</div>
<div id="footer-copyright">&copy; Copyright 2013 <a href="http://www.oodle.com/" class="underlined-link" >California Voices, LLC</a>. All rights reserved.<br></div>
</div>
<!--/footer-->
<div id="hiddenmodals" style="height: 1px;width: 335px;"></div>
<div id="hiddenfacets" style="height: 1px;width: 690px;"></div>
<script>
var ab_type = '3';
</script>
<script type="text/javascript">
// Google Plus button ujs
function __gpluscallback(event) {
if (event && event.state) {
var url = event.href.split('?')[0];
safecall(function() {
var listingID = odl.listingShare.lookupTable[url];
odl.listingShare.track({'event_type': 'google_plusone', 'status': event.state, 'listing_id': listingID});
jQ.get('/share/googleplus-ajax-cbk/', {listing_id: listingID, user_id: odl.info.user_id, status: event.state});
}, function() { return typeof(odl.listingShare); });
}
};
odl.async.ujs();
jQuery(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
});
</script>
</div><!--/container-->
<script type="text/javascript" src="http://i.oodleimg.com/jaml/footerlib/1368741567?cc=USA&partner=www"></script>
<script type="text/javascript" src="http://img.oodle.com/exjs/recaptcha/31384182000"></script>
<script>
fire(odl.fb.init);
</script>
<div id="reporting-view">
<!-- Start coremetrics -->
<script language="javascript1.1" type="text/javascript">var cm_JSFEnabled = true; var cm_JSFPCookieDomain = "oodle.com";</script>
<script type="text/javascript" src="http://i.oodleimg.com/jaml/reporting/1368741553?cc=USA&partner=www"></script>
<script language="javascript1.1" type="text/javascript">
var odl = window.odl || {};
odl.reporting = odl.reporting || {};
odl.reporting.extraFields = "stcloud-_-vehicle-_-vehicle/car-_-www USA-_-www-_-USA-_-oodle-_-detail-_--_-3441249537-_--_--_--_--_-";
odl.reporting.replyExtraFields = "stcloud-_-vehicle-_-vehicle/car-_-3441249537-_-www-_-USA-_-oodle-_-detail-_--_-3441249537-_--_--_--_--_-";
cmSetProduction();
cmCreatePageviewTag("detail","454","","","stcloud-_-vehicle-_-vehicle/car-_-www USA-_-www-_-USA-_-oodle-_-detail-_--_-3441249537-_--_--_--_--_-");
</script>
<!-- End coremetrics -->
<!-- start GA -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2202900-6']);
_gaq.push(['_setDomainName', '.oodle.com']);
_gaq.push(['_setCustomVar', 1, 'Partner', 'www', 3]);// Set visitor level 
_gaq.push(['_setCustomVar', 2, 'Member Type', 'anonymous', 3]);// Set session level
_gaq.push(['_setCustomVar', 3, 'Page Type', '6', 3]);// Track page type
_gaq.push(['_trackPageview']);
setTimeout(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
}, 100);
</script>
<script type="text/javascript">
var odlRptEvts = [];
var pageViewEvent = {"event_name":"page_view","partner":"www","masq":"www","country":"USA","region_id":184,"page":"IDP","cm_page_name":"detail","cm_core_id":null,"event_type":"other","uri":"http:\/\/cars.oodle.com\/detail\/2005-lexus-lx-470-galactic-gray-mica\/3441249537-saint-cloud-mn\/","entry_category":"vehicle","is_mobile":0,"region_url":"stcloud","cm_partner_tag":"oodle","cm_page_type":"detail","multivar_test":"","listing_id":"3441249537","paid":null,"listing_source":null,"search_executed":"","revenue_scores":""};
odlRptEvts.push(pageViewEvent);
if (odlRptEvts.length > 0)
odl.event.trackNamed(odlRptEvts);
odl.boomerang.sendData();
</script>
</div>
<!-- BloomSurface tracking code. Place at foot of page. -->
<div id="odl-bloom-reach"></div>
<script type="text/javascript">
var br_data = {};
/* --- Begin parameters section: fill in below --- */
br_data.acct_id = "4059";
br_data.ptype = "product";
br_data.prod_id = "3441249537";
br_data.prod_name = '2005 Lexus LX 470 (Galactic Gray Mica)';
br_data.user_id = "";
br_data.is_conversion = 0;
br_data.cat = "vehicle/car|USA|MN|St. Cloud Area|Lexus|Lx 470|2005";
/* --- End parameter section --- */
var file = ("https:" == document.location.protocol) ? "https://cdns.brsrvr.com/v1/br-trk.js" : "http://cdn.brcdn.com/v1/br-trk.js";
LazyLoad.js(file, null, null, null);
</script>
<script type="text/javascript">
safecall(
 function () {
var tracker = BrTrk.getTracker(0.2, br_data);
tracker.enableTracking();
}
);
</script>
<script type='text/javascript'>
var crtg_nid="1764";
var crtg_cookiename="cto_oodle";
var crtg_varname="crtg_content";
var crtg_content = jQuery.cookie('cto_oodle');
var crtg_rnd=Math.floor(Math.random()*99999999999);
var crtg_url=location.protocol+'//rtax.criteo.com/delivery/rta/rta.js?netId='+escape(crtg_nid);crtg_url+='&cookieName='+escape(crtg_cookiename);crtg_url+='&rnd='+crtg_rnd;crtg_url+='&varName=' + escape(crtg_varname);
var crtg_script=document.createElement('script');crtg_script.type='text/javascript';crtg_script.src=crtg_url;crtg_script.async=true;
if(document.getElementsByTagName("head").length>0)document.getElementsByTagName("head")[0].appendChild(crtg_script);else if(document.getElementsByTagName("body").length>0)document.getElementsByTagName("body")[0].appendChild(crtg_script);</script>
</script>
<!-- BEGIN Tynt Script -->
<div id="odl-tynt-js"></div>
<script type="text/javascript">
var tyntJS = "<script type='text/javascript'>" +
 "if(document.location.protocol=='http:'){" + 
 "var Tynt=Tynt||[];Tynt.push('aRv_w66VKr4y5vacwqm_6r');Tynt.i={'ap':'Read more:'};" + 
 "(function(){var s=document.createElement('script');s.async='async';s.type='text/javascript';s.src='http://tcr.tynt.com/ti.js';var h=document.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})();" + 
 "}" + 
 "<\/script>";
jQ(window).load(function() {
postscribe('#odl-tynt-js', tyntJS);
});
</script>
<!-- END Tynt Script -->
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrf2","beacon-6.newrelic.com","a896c87a89","955323","NlJRZEdTDUtZUUYLXg8YcEVGRgxVF1ZXFlAIWw==",0,381,new Date().getTime()]);</script>
</body>
</html>

