		<!DOCTYPE HTML>
<html>
<head>
		<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>


		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
					<link rel="stylesheet" href="http://i.oodleimg.com/caml/basic/1368741565/" type="text/css" charset="utf-8" />
					<link rel="stylesheet" href="http://i.oodleimg.com/caml/detail-2011/1373583250/" type="text/css" charset="utf-8" />
													<script type="text/javascript" src="http://i.oodleimg.com/jaml/lib/1379371955?cc=USA&partner=www"></script>
					<script type="text/javascript" src="http://i.oodleimg.com/jaml/detail/1368741567?cc=USA&partner=www"></script>
					<script type="text/javascript" src="http://i.oodleimg.com/jaml/social-listings/1368741568?cc=USA&partner=www"></script>
								<!-- EST -->		
		
			<meta content="2005 Lexus GX 470, 3535243796, Used Black 2005 Lexus gx 470 Cars for $18,950 for Sale by Dealer in 07631, New York, Cars for sale, 07631, New York Cars for sale, Lexus gx 470, 2005 Lexus, gx 470 , Black 2005 Lexus gx 470" name="keywords" />
				<meta content="2005 Lexus GX 470 - 3535243796. This is a Black 2005 Lexus gx 470 Car for Sale in Englewood NJ posted on Oodle Marketplace. Call Michael Maxx 24/7 @ 201-483-XXXX." name="description" />
						<meta property="marketplace:seller" content="http://www.oodle.com/profile/lexus-of-englewood//" />
			<meta property="fb:app_id" content="128581025231" />
			<meta property="fb:admins" content="1760926580,560285887,1092502671,1126473138" />
			<meta property="og:url" content="http://fb.oodle.com/?f=3535243796" />
			<meta property="og:title" content="2005 Lexus GX 470" />
			<meta property="og:description" content="Call Michael Maxx 24/7 @ 201-483-XXXX." />
			<meta property="og:type" content="marketplace:listing" />
			<meta property="og:image" content="http://i.oodleimg.com/item/3535243796t_1j?1384521135" />
			<title>2005 Lexus GX 470 |  Black 2005 Lexus gx 470 Car for Sale in Englewood NJ | 3535243796 | Used Cars on Oodle Marketplace</title>
	<link rel="shortcut icon" href="http://i.oodleimg.com/favicon.ico" />
	<link rel="publisher" href="https://plus.google.com/108394286411507889146" />
			<link rel="canonical" href="http://cars.oodle.com/detail/2005-lexus-gx-470/3535243796-englewood-nj/" />
		<script type="text/javascript">
	<!--
	if (typeof(odl) == 'undefined')
		odl = {};
	odl.info = {"country_code":"USA","region_id":5,"user_id":null,"user_img":"http:\/\/i.oodleimg.com\/a\/account\/facebook_silhouette.gif","logged_in":false,"partner_id":1,"fbjs_enabled":true,"location":{"loc":null,"text":"New York, NY","radius":null,"country":"USA","region_id":5,"city_code":"usa:ny:newyork","zipcode":null,"origin":"default"},"domain":".oodle.com","fb_logged_in":false,"page":{"type":6},"https":false,"ip_address":"rpMGDRp-CZieXShvuyizYsgrGegzxs-l","partner_tag":"www","partner_group":"oodle","partner_masquerade":"www","partner_is_social":true,"is_facebook":false,"domain_url":"http:\/\/www.oodle.com\/","base_path":"\/","image_root":"http:\/\/i.oodleimg.com","s_name":"osid","s_id":"578686386c217b4fccde459969e42783","debug":false,"fb":{"appId":"128581025231","logging":true,"status":true,"cookie":false,"xfbml":true,"oauth":true},"fb_base_url":"http:\/\/apps.facebook.com\/marketplace\/","tmsid":"c4e9072c3a5ed89c8a935fa212151b3d5f544fd0","prefs":{"favorites":{"show_on_add":1}}};
			//-->
	</script>
				
 
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-1', [300, 250], 'div-gpt-ad-1346975622459-0').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-2', [300, 250], 'div-gpt-ad-1346975622459-1').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-3', [300, 250], 'div-gpt-ad-1346975622459-2').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-4', [300, 250], 'div-gpt-ad-1346975622459-3').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-1', [728, 90], 'div-gpt-ad-1346975622459-4').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-2', [728, 90], 'div-gpt-ad-1346975622459-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
 
});
</script>
 
	</head>


	<body>
<script type="text/javascript">
odl.event.trigger("header.start");
</script>
<script type="text/javascript">
Oodle.EXJS.Versions = {"fbc":"11384531200","google_maps":"11384128000","msn_map":"11384531200","recaptcha":"31384531200","fbc_new":"11384531200","legacy_yui2":"11384128000"};
</script>
 
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
</script>
<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-1', [300, 250], 'div-gpt-ad-1346975622459-0').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-2', [300, 250], 'div-gpt-ad-1346975622459-1').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-3', [300, 250], 'div-gpt-ad-1346975622459-2').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars300x250-4', [300, 250], 'div-gpt-ad-1346975622459-3').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-1', [728, 90], 'div-gpt-ad-1346975622459-4').addService(googletag.pubads());
googletag.defineSlot('/5625/OodleIDP/IDPCars728x90-2', [728, 90], 'div-gpt-ad-1346975622459-5').addService(googletag.pubads());
googletag.pubads().enableSingleRequest();
googletag.enableServices();
 
});
</script>
 
<div class="dfp-universal-header-gradient">
<div class="dfp-universal-header">
<div id=header-container class="clearfix">
<div class="map-header clearfix oodle-logo">
<a class="logo" href="http://www.oodle.com/"></a>
<div id="univ-change-loc">
</div>
<div class="header-right" class="clearfix">
<ul id="header-list">
<li id="univ-header-heart">
<span class="tetris-heart_on" onclick="odl.auth2.login({login_mode: 'facebook', event_params: {event_name: 'FavoriteLogin', event_page: 'universal-header'}, success: function(){ window.location.href = '/profile/-/' + odl.info.user_id + '/favorites/'; }});" title="Favorites"></span>
<span class="blue-dot"></span>
</li>
<li>
<ul id="browse-category-header-wrapper">
<li id="header-browse-category-link"><span>Browse<span class="tetris-blue-down-arrow down-arrow"></span></span></li>
<li id="header-browse-category-menu">
<ul id="header-browse-category-list">
<li class="main-cat">
<a href="http://forsale.oodle.com/classifieds/new-york-ny/">Merchandise</a>
</li>
<li class="main-cat">
<a href="/used-cars/new-york-ny/">Cars</a>
</li>
<li class="main-cat">
<a href="http://apartments.oodle.com/new-york-ny/">Rentals</a>
</li>
<li class="main-cat">
<a href="http://realestate.oodle.com/new-york-ny/">Real Estate</a>
</li>
<li class="main-cat">
<a href="http://jobs.oodle.com/careers/new-york-ny/">Jobs</a>
</li>
<li class="main-cat">
<a href="http://pets.oodle.com/all/new-york-ny/">Pets</a>
</li>
<li class="main-cat">
<a href="http://tickets.oodle.com/events/new-york-ny/">Tickets</a>
</li>
<li class="super-cat">
<a href="http://vehicles.oodle.com/used-vehicles/new-york-ny/">All Vehicles</a>
</li>
<li class="sub-cat">
<a href="http://motorcycles.oodle.com/used-motorcycles/new-york-ny/">Motorcycles</a>
</li>
<li class="sub-cat">
<a href="http://boats.oodle.com/used-boats/new-york-ny/">Boats</a>
</li>
<li class="sub-cat">
<a href="http://rvs.oodle.com/used-rvs/new-york-ny/">RVs</a>
</li>
<li class="main-cat">
<a href="http://apartments.oodle.com/new-york-ny/">All Rentals</a>
</li>
<li class="sub-cat">
<a href="http://officespace.oodle.com/new-york-ny/">Office Space</a>
</li>
<li class="sub-cat">
<a href="http://vacationrentals.oodle.com/new-york-ny/">Vacation Rentals</a>
</li>
<li class="main-cat">
<a href="http://pets.oodle.com/all/new-york-ny/">All Pets</a>
</li>
<li class="sub-cat">
<a href="http://dogs.oodle.com/all/new-york-ny/">Dogs</a>
</li>
<li class="sub-cat">
<a href="http://cats.oodle.com/all/new-york-ny/">Cats</a>
</li>
<li class="sub-cat">
<a href="http://horses.oodle.com/all/new-york-ny/">Horses</a>
</li>
<li class="main-cat">
<a href="http://services.oodle.com/new-york-ny/">Services</a>
</li>
<li class="main-cat">
<a href="http://personals.oodle.com/dating/new-york-ny/">Personals</a>
</li>
<li class="main-cat">
<a href="http://community.oodle.com/new-york-ny/">Community</a>
</li>
</ul>
</li>
</ul>
</li>
<li id="post-listing-holder"><a onclick="safecall(odl.post2.showPostLightbox, function(){if(typeof(odl.post2) != 'undefined'){return typeof(odl.post2.showPostLightbox);}}); return false;">Post</a><span class="blue-dot"></span></li>
<li id="header-myaccount-holder" class="more-myaccount-hide dropdown" style="display: inline-block;">
<a id="sign-in-link" href="javascript:void(0)" onclick="odl.auth2.login({ login_mode: 'facebook-and-oodle', bounceURL: window.location.href })" rel="nofollow">Sign In</a>
<script>
var myAccount = new odl.dropdownMenu('#header-myaccount-holder .my-name', '#header-myaccount-list', odl.myaccounttab.callback, 'slide');
</script></li>
<li id="search-box-holder" class="clearfix">
 <form method="get" action="http://cars.oodle.com/browse_redir/" name="search-form" id="search-form" >
<input type="hidden" name="reset" value="1" />
<input type="hidden" name="t" value="" />
<input type="hidden" name="g" value="usa:ny:newyork" />
<input type="hidden" name="r" value="" />
<input type="hidden" name="s" value="" />
<input type="hidden" name="v" value="" />
<input type="hidden" name="inbs" value="" />
<input placeholder="Search All Marketplace" name="q" id="search-what" maxlength="80" value="" /><a href="#" id="search_submit" onclick="$('search-form').submit();"></a>
<div id="search-what-error"></div>
<script>
jQ('#search-what').hint({label:1});
</script>
</form>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="wrapper-contextual-header ">
<div class="contextual-header">
<a id="prev-page-return" rel="nofollow" href="/2000_2010-lexus-gx_470/new-york-area/mileage_100000+/price_16000_22000/"><span id="prev-page-image"></span><div>See Similar Listings</div></a>
<ul class="category-tabs">
<li class="tab"><a href="http://www.oodle.com/">Home</a><span class="blue-dot"></span></li><li class="tab tab first"><a href="http://forsale.oodle.com/classifieds/new-york-ny/">Merchandise</a><span class="blue-dot"></span></li><li class="tab tab active"><a href="/used-cars/new-york-ny/">Cars</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://apartments.oodle.com/new-york-ny/">Rentals</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://realestate.oodle.com/new-york-ny/">Real Estate</a><span class="blue-dot"></span></li><li class="tab tab"><a href="http://jobs.oodle.com/careers/new-york-ny/">Jobs</a><span class="blue-dot"></span></li><li id="header-more-category-link">More<span class="arrow"></span></li><li id="header-more-category-menu"><ul id="header-more-category-list"><li class="main-cat"><a href="http://forsale.oodle.com/classifieds/new-york-ny/">Merchandise</a></li><li class="main-cat"><a href="/used-cars/new-york-ny/">Cars</a></li><li class="main-cat"><a href="http://apartments.oodle.com/new-york-ny/">Rentals</a></li><li class="main-cat"><a href="http://realestate.oodle.com/new-york-ny/">Real Estate</a></li><li class="main-cat"><a href="http://jobs.oodle.com/careers/new-york-ny/">Jobs</a></li><li class="main-cat"><a href="http://pets.oodle.com/all/new-york-ny/">Pets</a></li><li class="main-cat"><a href="http://tickets.oodle.com/events/new-york-ny/">Tickets</a></li><li class="super-cat"><a href="http://vehicles.oodle.com/used-vehicles/new-york-ny/">All Vehicles</a></li><li class="sub-cat"><a href="http://motorcycles.oodle.com/used-motorcycles/new-york-ny/">Motorcycles</a></li><li class="sub-cat"><a href="http://boats.oodle.com/used-boats/new-york-ny/">Boats</a></li><li class="sub-cat"><a href="http://rvs.oodle.com/used-rvs/new-york-ny/">RVs</a></li><li class="main-cat"><a href="http://apartments.oodle.com/new-york-ny/">All Rentals</a></li><li class="sub-cat"><a href="http://officespace.oodle.com/new-york-ny/">Office Space</a></li><li class="sub-cat"><a href="http://vacationrentals.oodle.com/new-york-ny/">Vacation Rentals</a></li><li class="main-cat"><a href="http://pets.oodle.com/all/new-york-ny/">All Pets</a></li><li class="sub-cat"><a href="http://dogs.oodle.com/all/new-york-ny/">Dogs</a></li><li class="sub-cat"><a href="http://cats.oodle.com/all/new-york-ny/">Cats</a></li><li class="sub-cat"><a href="http://horses.oodle.com/all/new-york-ny/">Horses</a></li><li class="main-cat"><a href="http://services.oodle.com/new-york-ny/">Services</a></li><li class="main-cat"><a href="http://personals.oodle.com/dating/new-york-ny/">Personals</a></li><li class="main-cat"><a href="http://community.oodle.com/new-york-ny/">Community</a></li></ul></li>
</ul>
<div class="clearing"></div>
</div>
</div>
<div class="clear"></div>
<div id="container">
<div class="clearfix">
</div>
<script type="text/javascript">
odl.event.trigger("header.end");
</script>
<div id="content-container" class="clearfix  ">

			<div class="category-breadcrumbs">
					<a href="http://cars.oodle.com/" title="Car for Sale">Car for Sale</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="/regions/" title="USA">USA</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="/regions/new_york/" title="NY">NY</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/used-cars/new-york-area/" title="New York Area">New York Area</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/lexus/new-york-area/" title="Lexus">Lexus</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
			<a href="http://cars.oodle.com/lexus-gx_470/new-york-area/" title="Gx 470">Gx 470</a>
		
			&nbsp;<img src="http://i.oodleimg.com/detail/doubleArrow.gif" />
		
						<a href="http://cars.oodle.com/2005-lexus-gx_470/new-york-area/" title="2005">2005</a>
			
		
		
	- <h1 class="detail-heading">2005 Lexus GX 470 |  Black 2005 Lexus gx 470 Car for Sale in Englewood NJ | 3535243796</h1>
	
		</div>
		
		
	<div id="main-column-wrapper" class="clearfix" style=" padding-left: 10px; ">
									
		<div id="main-column">
			<div id="connected-user" class="clearfix">
									<div id="seller-info-wrapper" class="clearfix">
	<div id="seller-image">
		<img class='profileimg' src="http://i.oodleimg.com/a/unverified_userphoto.png" />
	</div>
	<div id="seller-n-friends-wrapper">
		<div>
			<span id="seller-name">Lexus of Englewood</span>
		</div>

				<div id="seller-personal-info">
			<p>
				This listing was posted on <a href="/r_dtmn_/3535243796-10398u454,5/showroom.auction123.com___LilXHoJj__caPNFlHpwIZ8RDejsTNsKm3nuiSVEYR9R2vwBx0QgO08QrGz-DvOz75pWGPr7Rl_qLfD3KfIeX-WEYYi9Awx5rcb-L4qCi9RZGPiH0_eEtsDEA6PXV-OydgEvcUbURSR0," target="_blank" rel="nofollow">Lexus of Englewood (via Auction123)</a>.
			</p>
		</div>

		<div id="face-pile-container" class="empty">	
			You have no shared connections.
							
												
				<div><a href="http://www.oodle.com/dealer/lexus-of-englewood-englewood/5052" target="_blank" rel="nofollow">Lexus of Englewood</a> has 4 listings on Marketplace</div>
					</div>
			</div>
</div>
								
				
									 						
			<div id="next-listings-wrap"  style="display: none;" data-odl-event="{event_name: 'seller_header', event_type: 'view_details', status:'next_listing', algo_logic: 'OTHER',NextListing_Listing_ID: '', IDP_Listing_ID: '3535243796' }">
			<div id="next-listings" style="cursor:pointer;"  	>
				<div id="nl">
					<span class="nl-wrap"><img    /></span>
					<span class="nl-wrap tweak-width"><a>Next Listing</a></span>
				</div>
			</div>
		</div>
	
			<script type="text/javascript">
			jQ('body').bind("amplify.ready", function() {
				var currentListingId = 3535243796;
				var nl = amplify.store("nl");
				var nextListing = null;
				if (nl)
				{
					if (nl.length == 1)
					{
						jQ("#next-listings-wrap").css("display","none");
					}
					else
					{
						listingPresent = false;
						for (i in nl)
						{
							var temp = nl[parseInt(i)];
							if (currentListingId == temp.listingId)
							{
								listingPresent = true;
								if ((parseInt(i)+1) >= nl.length )
									i = -1;

								nextListing = nl[parseInt(i)+1];
								var reportingParams = {
									event_name: 'seller_header',
									event_type: 'view_details',
									status:'next_listing',
									algo_logic: 'OTHER',
									NextListing_Listing_ID: nextListing.listingId,
									IDP_Listing_ID: currentListingId
								};
								jQ("#next-listings").click(function(){
									odl.event.trackNamed(reportingParams,
										function(){
											window.location.href = nextListing.alt_listing_url;
									});
								});
								jQ("#next-listings img").attr("src",nextListing.image_url);
								jQ("#next-listings-wrap").css("display","block");
								break;
							}
							else
								listingPresent = false;
						}
						if (!listingPresent && typeof(nextListing) != 'undefined' && nextListing && nextListing.listingId)
						{
							listingPresent = true;
							nextListing = nl[parseInt(0)+1];

							var reportingParams = {
								event_name: 'seller_header',
								event_type: 'view_details',
								status:'next_listing',
								algo_logic: 'OTHER',
								NextListing_Listing_ID: nextListing.listingId,
								IDP_Listing_ID: currentListingId
							};
							jQ("#next-listings").click(function(){
								odl.event.trackNamed(reportingParams,
									function(){
										window.location.href = nextListing.alt_listing_url;
								});
							});
							jQ("#next-listings img").attr("src",nextListing.image_url);
							jQ("#next-listings-wrap").css("display","block");
						}
					}
				}
				else
				{
					jQ("#next-listings-wrap").css("display","none");
				}
			});
		</script>
								</div>
			<div id="main-left-col">
					<div class="wbgbr1">
							
	<div id="user-pointer">&nbsp;</div>
		


<div id="listing-detail-container" class="clearfix offsetArrowSpace">
	 
			
	
					
	<div class="detail-title" id="listing-title-adtype">
		 
			<div id="detail-title-price">
			<span>$18,950</span>
			</div>
				
		<h2 id="detail-title-text">
			2005 Lexus GX 470
		</h2>
		
		<div class="clearing"></div>		
	</div>
	
	
		
		<script>
		if (typeof(odl) == 'undefined') odl = {};
		if (typeof(odl.detail) == 'undefined') odl.detail= {};
	
		odl.detail.listingID = 3535243796;
		odl.detail.oodleCanonicalURL = 'http://cars.oodle.com/detail/2005-lexus-gx-470/3535243796-englewood-nj/';
		odl.detail.isPro = false;
	</script>

		

	
	<div id="detail-wrapper">
		<div id="slert-slert"></div>
		
		<div id="detail-info"  class="no-image" >
			<div id="listing-title-container" class="clearfix">
							</div>
		</div>
	
											<div id="photo-view">
				<img src="http://images.auction123.com/5cca78ba-ced9-4300-8316-33264c66e14e/JTJBT20X550081235/01.jpg?webimage001l" width="420" />
			</div>
							
			<div class="listing-social clearfix no-image ">
						
					<div class="listing-actions"><div class="new-listingaction" data-listingid="3535243796"
     data-gear-open-left="0"
     data-gear-no-detach="0">
	<div class="gear-link">
		<span class="gear-icon"></span>
		<span class="listing-tool-label">Tools</span>
	</div>
	<div class="action-wrapper" style="display:none">
		<ul class="new-listing-action">
		<li class="tool-header"><span class="close">X</span><span class="gear-icon"></span>Tools</li>
							<li> <a  rel="nofollow"  title="2005 Lexus GX 470" 
					href="http://cars.oodle.com/detail/2005-lexus-gx-470/3535243796-englewood-nj/" target="_blank" onclick="">2005 Lexus GX 470 for $18,950</a>
			</li>
				 			<li>
				<a
																href="http://ny.oodle.com/r_dtmn_/3535243796-10398u454,5/showroom.auction123.com___LilXHoJj__caPNFlHpwIZ8RDejsTNsKm3nuiSVEYR9R2vwBx0QgO08QrGz-DvOz75pWGPr7Rl_qLfD3KfIeX-WEYYi9Awx5rcb-L4qCi9RZGPiH0_eEtsDEA6PXV-OydgEvcUbURSR0," target="_blank"
									>
					Respond
				</a>
			</li>
				<li class="tool-report new-section"><span class="shield-icon"></span>Stop Fraud</li>
				<li> <a  rel="nofollow"  title="Report" 
				href="javascript:void(0)" target="_blank" onclick="Oodle.Wizard.Show('message', 'report_listing', {'listing_id':'3535243796','page':'preview','category':'null'}); return false;">Report</a>
		</li>
		<li><a href="/info/safety/" target="_blank" >Learn More</a></li>
				</ul>
	</div>
</div></div>
	</div>

		
							    		 
			<div id="listing-price">
				<div class="listing-attribute">Price:</div>
																					<div class="listing-attribute-value"><span>$18,950</span> 				</div>
							     
			   		 		   		 
		   		 		<div class="carfax-promo">
							<a target="_blank" href="http://www.carfax.com/VehicleHistory/p/Report.cfx?partner=ODL_0&vin=JTJBT20X550081235"><img src="http://i.oodleimg.com/a/listings/showMe.gif" /></a>
						</div>
			   		  
			    			</div>
				
								<div class="listing-attribute-container">
				<div class="listing-attribute">Financing:</div>
				<div class="listing-attribute-value"><a id="credit-score-link" target="_blank" href="http://ad.doubleclick.net/clk;274023770;100437806;w?https://stags.bluekai.com/site/15429?phint=event%3Dclick&amp;phint=aid%3D4162033&amp;phint=pid%3D100437806&amp;phint=cid%3D7771356&amp;phint=crid%3D%ecid!&amp;done=http%3A%2F%2Fwww%2Eequifax%2Ecom%2Fadvantage495%2FDSP%2F">Buying a Car? Check your Credit Score Here. Fees Apply.</a><img src="http://ad.doubleclick.net/ad/N6290.132102.OODLE/B7771356.8;sz=1x1;ord=1384532466882?" border="0" width="1" height="1" alt="Advertisement" /></div>
			</div>
									
				
				
				
				
	
						<div id="listing-secondary">
				<div class="listing-attribute">Summary: </div>
				<div class="listing-attribute-value"><span>Used</span> <span>2005</span> <span>Lexus</span> <span>Gx 470</span> <span>86,831 miles</span>, <span>Black</span></div></div>
				
					<div id="listing-location" class="clearfix">
				<div class="listing-attribute">
					Location:
				</div>
				<div id='locText' class="listing-attribute-value"  style="float:left;margin-right:20px;"  > Englewood, NJ</div>
									<div id="map-view clearfix">
						<a href="javascript:void(0);" onclick="odl.detail.showMap();"><img src="http://i.oodleimg.com/a/icons/map_pin.png" width="9" height="12" style="vertical-align:middle;" /> View Map</a>
					</div>
					<div style='display: none;'>
					<a name="maps-view"></a>
<div class="yui-skin-sam d-sec">
	<div id="maps" style="width: auto;">
			<div id="map-tabs" class="yui-navset yui-navset-top">
			<ul class="yui-nav">
			</ul>
		</div>

		<style type="text/css">
			.ui-tabs .ui-tabs-hide {ldelim} display: block; {rdelim}
		</style>

		<script type="text/javascript">
			odl.googlemap.ListingInfo = JSON.parse("{\"3535243796\":{\"lat\":\"40.8942\",\"lng\":\"-73.9725\",\"id\":\"3535243796\",\"title\":\"2005 Lexus GX 470\",\"content\":\"<h3>Title<\\\/h3>Listing Information....\",\"opened\":true}}");
		</script>
		</div>
</div>					</div>
							</div>
			
			
					<div class="detail-info">
					</div>
				
		
		<div class="clear"></div>
		<div id="listing-attributes" class="detail-info">
				
																<div id="listing-description" class="clearfix">
					<div class="listing-attribute">
							Description:
					</div>
					
										<div class="listing-attribute-value"><br/ ><span>Call Michael Maxx 24/7 @ 201-483-XXXX.</span></div>
					<div class="clearing"></div>
				</div>
						<div class="listing-normal-attributes clearfix">																																																													 
						<div class="listing-attribute-container clearfix">
							<div id="a_body_type" class="listing-attribute ">
																								Body Type:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>Sport Utility</span></div>
						</div>
																			 
						<div class="listing-attribute-container clearfix">
							<div id="a_vin" class="listing-attribute ">
																								VIN&nbsp;:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>JTJBT20X550081235</span></div>
						</div>
																			 
						<div class="listing-attribute-container clearfix">
							<div id="a_transmission" class="listing-attribute ">
																								Transmission:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span>Automatic Transmission</span></div>
						</div>
																																	 
						<div class="listing-attribute-container clearfix">
							<div id="a_seller_type" class="listing-attribute ">
																								For sale by:
																						</div>
	
															 														
														
														
							<div class="listing-attribute-value" ><span>Dealer</span> -  <span><a href="http://www.oodle.com/dealer/lexus-of-englewood-/5052">Lexus of Englewood</a></span></div>
						</div>
																																																													 
						<div class="listing-attribute-container clearfix">
							<div id="a_created" class="listing-attribute ">
																								Posted:
																						</div>
	
														
														
														
							<div class="listing-attribute-value" ><span><span>November 15</span> on <a href="http://ny.oodle.com/r_dtmn_/3535243796-10398u454,5/showroom.auction123.com___LilXHoJj__caPNFlHpwIZ8RDejsTNsKm3nuiSVEYR9R2vwBx0QgO08QrGz-DvOz75pWGPr7Rl_qLfD3KfIeX-WEYYi9Awx5rcb-L4qCi9RZGPiH0_eEtsDEA6PXV-OydgEvcUbURSR0," target="_top" rel="nofollow">Auction123</a></span></div>
						</div>
																											
											
								
								
							</div>		</div>		
				 							
	  	
		<div>
			
		</div>
		
			</div>
</div>
<script type="text/javascript">
	var start_params = {
		event_name: 'idp_move_mortgage',
		event_type: 'idp_move_mortgage'
	};
	jQ("#move-mortgage").click(function(){
		odl.event.trackNamed(start_params);
	});
	
	var uship_params = {
		event_name: 'idp_uship',
		event_type: 'idp_uship',
		url: jQ("#uship-link").attr("href"),
		status: 'gen-success'
		
	};
	jQ("#uship-link").click(function(){
		odl.event.trackNamed(uship_params);
	});
	
	var credit_score_params = {
		event_name: 'credit_score',
		event_type: 'credit_score'
	};
	jQ("#credit-score-link").click(function(){
		odl.event.trackNamed(credit_score_params);
	});
	
	var condurre_link_params = {
		event_name: 'condurre_link',
		event_type: 'condurre_link'
	};
	
	jQ("#condurre-link").click(function(){
		odl.event.trackNamed(condurre_link_params);
	});
	
	var insurance_link_params = {
	event_name: 'insurance_link',
	event_type: 'insurance_link'
	};
	
	jQ("#insurance-link").click(function(){
		odl.event.trackNamed(insurance_link_params);
	});
	
	
</script>
					</div>
					
												<div class="wbgbr">
		<div id="similar-listings">
			<h6 class="heading section-heading">Similar Listings</h6>
		
			






	<script type="text/javascript">
		jQ('body').bind("amplify.ready", function() {
			amplify.store("nl", [{"listingId":"3180432890","alt_listing_url":"\/u_dtnx_\/3180432890-P28_11370p454,5\/cars.oodle.com___kJst8SGoDBZcTb7aM_Ad_TLhh_6eYGDCiLNVdezEBleEpf5Vry6npluKEpLMO1cj9TYP_GNS8BrBV6Xcuq054CQ3Dd3yLc9ub90hzsDTsRA,","href":"http:\/\/cars.oodle.com\/detail\/2009-lexus-gx-470\/3180432890-valley-stream-ny\/","image_url":"http:\/\/i.oodleimg.com\/item\/3180432890u_1m?1382096561"},{"listingId":"3461563062","alt_listing_url":"\/u_dtnx_\/3461563062-P28_11370p454,5\/cars.oodle.com___CxleY7wLlGBcTb7aM_Ad_TLhh_6eYGDCKd1tcvBsp96YPOBHbkILAutEFxacteOM0GtRTLZtvXu8NyOnEWJaczE6x0Kvds0OA3jJZje8AQ4,","href":"http:\/\/cars.oodle.com\/detail\/2007-lexus-es-350-navigation\/3461563062-astoria-ny\/","image_url":"http:\/\/i.oodleimg.com\/item\/3461563062u_1m?1383307085"},{"listingId":"3499469945","alt_listing_url":"\/u_dtnx_\/3499469945-P28_11370p454,1385\/cars.oodle.com___wZUWeNyp67tcTb7aM_Ad_TLhh_6eYGDCLtLGXPaNnaSGSriZp_5_yvXj2O5i6oHifdImx3lPS-drFJJXb4j7VdNiHHFnyvR_","href":"http:\/\/cars.oodle.com\/detail\/2010-lexus-rx-350\/3499469945-bay-shore-ny\/","image_url":"http:\/\/i.oodleimg.com\/item\/3499469945u_1m?1384266327"}]);
		});
	</script>



                   


<ol id="social-listings" class=" ">
	<span id="threat-matrix-params" data-params="{&quot;session-id&quot;:&quot;9ef61e0ecbbca41b0090e1cac5c7bff5&quot;,&quot;thm-session&quot;:&quot;ec982bbbee8748b637e03441d620fbfaa8e5f811&quot;}"></span>
			
						
						
										
				
						
				
				
												
		
				
		<li id="listing-3180432890" class="has-thumbnail has-photo listing clearfix featured">
						
																											
											
						<div class="data-dom-ref has-link" data-dom-ref="#listing-3180432890 a.title-link">
									<div class="thumbnail-wrapper" title="2009 Lexus GX 470"><img src="http://i.oodleimg.com/item/3180432890u_1m?1382096561" alt="2009 Lexus GX 470" /></div>
				
				<h3 class="hyphenate">
											<span class="price">
							<span>$33,972</span>
						</span>

						<span class="listing-title">
							<a class="title-link" href="/u_dtfl_/3180432890-P28_11370p454,5/cars.oodle.com___kJst8SGoDBZcTb7aM_Ad_TLhh_6eYGDCiLNVdezEBleEpf5Vry6npluKEpLMO1cj9TYP_GNS8BrBV6Xcuq054CQ3Dd3yLc9ub90hzsDTsRA," title="" onmousedown="cmshop('/ajax/ping/', 'l=3180432890&amp;c=454&amp;r=ny&amp;s=11370&amp;p=1&amp;y=1&amp;a=_dtxx_&amp;t=u&amp;o=DETAIL&amp;e=featured_listings&amp;i=&amp;m=&amp;g=detail&amp;v=6&amp;Z=r&amp;ism=0');" onclick="">								
																2009 Lexus GX 470
							</a>						</span>

															</h3>

									<div class="listing-attributes">
						

	

																										
						<span>62,152 miles</span> <span class="delimiter">&middot;</span> 								<span>Black</span> <span class="delimiter">&middot;</span> 								<span>Valley Stream, NY</span>								</div>
				
								
			</div>
									
									
									
			<div class="listing-main not-connected">
															<a href="http://www.oodle.com/profile/bical-chevrolet-used/55974523/">								
	<img class="seller-pic" src="http://graph.facebook.com/103414953025766/picture?type=square" />

						</a>					
							
			<div class="listing-body hyphenate data-dom-ref" data-dom-ref="#listing-3180432890 a.title-link">
										
										
			***LEXUS GX470***QUALITY, CLASS AND DURABILITY AT IT'S FINEST!!! LOOKS SOO GORGEOUS IN THIS BLACK WITH BEIGE INTERIOR*** HEATED LEATHER S...
		</div>
	

						<div class="seller-info">
						
				<a href="http://www.oodle.com/profile/bical-chevrolet-used/55974523/" target="_blank">
				
				
									
				
				
							
																			
						
					                         						<span class="seller-name">Bical Chevrolet USED</span>
					                         						</a>
					                         			<span class="delimiter">&middot;</span>			<span class="seller-phone data-dom-ref" data-dom-ref="#listing-3180432890 a.title-link"><span>(516) 285-6500</span></span>
				
					<span class="delimiter">&middot;</span>		
		
		
			<div>
								<span class="pro-seller">Pro Seller</span>
			
							<span class="delimiter">&middot;</span>
													<span class="created-on">		<span><span>September 28 2012</span> on <a href="http://fb.oodle.com/" target="_top" rel="nofollow">Facebook</a></span>

													</span>
			
		</div>
	
		
		
	
	
			</div>

							</div>

									
						
			
		</li>
			
						
						
										
				
						
				
				
												
		
				
		<li id="listing-3461563062" class="has-thumbnail has-photo listing clearfix featured">
						
																											
											
						<div class="data-dom-ref has-link" data-dom-ref="#listing-3461563062 a.title-link">
									<div class="thumbnail-wrapper" title="2007 Lexus ES 350 NAVIGATION"><img src="http://i.oodleimg.com/item/3461563062u_1m?1383307085" alt="2007 Lexus ES 350 NAVIGATION" /></div>
				
				<h3 class="hyphenate">
											<span class="price">
							<span>$15,990</span>
						</span>

						<span class="listing-title">
							<a class="title-link" href="/u_dtfl_/3461563062-P28_11370p454,5/cars.oodle.com___CxleY7wLlGBcTb7aM_Ad_TLhh_6eYGDCKd1tcvBsp96YPOBHbkILAutEFxacteOM0GtRTLZtvXu8NyOnEWJaczE6x0Kvds0OA3jJZje8AQ4," title="" onmousedown="cmshop('/ajax/ping/', 'l=3461563062&amp;c=454&amp;r=ny&amp;s=11370&amp;p=1&amp;y=1&amp;a=_dtxx_&amp;t=u&amp;o=DETAIL&amp;e=featured_listings&amp;i=&amp;m=&amp;g=detail&amp;v=6&amp;Z=r&amp;ism=0');" onclick="">								
																2007 Lexus ES 350 NAVIGATION
							</a>						</span>

															</h3>

									<div class="listing-attributes">
						

	

																										
						<span>35,540 miles</span> <span class="delimiter">&middot;</span> 								<span>Gray</span> <span class="delimiter">&middot;</span> 								<span>Astoria, NY</span>								</div>
				
								
			</div>
									
									
									
			<div class="listing-main not-connected">
															<a href="http://www.oodle.com/profile/kg-suzuki/43611597/">								
	<img class="seller-pic" src="http://graph.facebook.com/401573976521122/picture?type=square" />

						</a>					
							
			<div class="listing-body hyphenate data-dom-ref" data-dom-ref="#listing-3461563062 a.title-link">
										
										
			We are one of the largest pre-owned luxury car dealer. This vehicle is fully certified* and has been through rigorous vehicle inspection ...
		</div>
	

						<div class="seller-info">
						
				<a href="http://www.oodle.com/profile/kg-suzuki/43611597/" target="_blank">
				
				
									
				
				
							
																			
						
					                         						<span class="seller-name">KG Suzuki</span>
					                         						</a>
					                         			<span class="delimiter">&middot;</span>			<span class="seller-phone data-dom-ref" data-dom-ref="#listing-3461563062 a.title-link"><span>(718) 786-0004</span></span>
				
					<span class="delimiter">&middot;</span>		
		
		
			<div>
								<span class="pro-seller">Pro Seller</span>
			
							<span class="delimiter">&middot;</span>
													<span class="created-on">		<span><span>August 17</span> on <a href="http://fb.oodle.com/" target="_top" rel="nofollow">Facebook</a></span>

													</span>
			
		</div>
	
		
		
	
	
			</div>

							</div>

									
						
			
		</li>
			
						
						
										
				
						
				
				
												
		
				
		<li id="listing-3499469945" class="has-thumbnail has-photo listing clearfix featured">
						
																											
											
						<div class="data-dom-ref has-link" data-dom-ref="#listing-3499469945 a.title-link">
									<div class="thumbnail-wrapper" title="2010 Lexus RX 350"><img src="http://i.oodleimg.com/item/3499469945u_1m?1384266327" alt="2010 Lexus RX 350" /></div>
				
				<h3 class="hyphenate">
											<span class="price">
							<span>$29,295</span>
						</span>

						<span class="listing-title">
							<a class="title-link" href="/u_dtfl_/3499469945-P28_11370p454,1385/cars.oodle.com___wZUWeNyp67tcTb7aM_Ad_TLhh_6eYGDCLtLGXPaNnaSGSriZp_5_yvXj2O5i6oHifdImx3lPS-drFJJXb4j7VdNiHHFnyvR_" title="" onmousedown="cmshop('/ajax/ping/', 'l=3499469945&amp;c=454&amp;r=longisland&amp;s=11370&amp;p=1&amp;y=1&amp;a=_dtxx_&amp;t=u&amp;o=DETAIL&amp;e=featured_listings&amp;i=&amp;m=&amp;g=detail&amp;v=6&amp;Z=r&amp;ism=0');" onclick="">								
																2010 Lexus RX 350
							</a>						</span>

															</h3>

									<div class="listing-attributes">
						

	

																										
						<span>48,620 miles</span> <span class="delimiter">&middot;</span> 								<span>Blue</span> <span class="delimiter">&middot;</span> 								<span>Bay Shore, NY</span>								</div>
				
								
			</div>
									
									
									
			<div class="listing-main not-connected">
															<a href="http://www.oodle.com/profile/acura-b/43194452/">								
	<img class="seller-pic" src="http://graph.facebook.com/1797934742/picture?type=square" />

						</a>					
							
			<div class="listing-body hyphenate data-dom-ref" data-dom-ref="#listing-3499469945 a.title-link">
										
										
			AWD and Parchment w/Smooth Perforated Leather Seat Trim. Talk about a deal! Here it is! If you want an amazing deal on an amazing SUV tha...
		</div>
	

						<div class="seller-info">
						
				<a href="http://www.oodle.com/profile/acura-b/43194452/" target="_blank">
				
				
									
				
				
							
																			
						
					                         						<span class="seller-name">acura b.</span>
					                         						</a>
					                         			<span class="delimiter">&middot;</span>			<span class="seller-phone data-dom-ref" data-dom-ref="#listing-3499469945 a.title-link"><span>(877) 237-4544</span></span>
				
					<span class="delimiter">&middot;</span>		
		
		
			<div>
								<span class="pro-seller">Pro Seller</span>
			
							<span class="delimiter">&middot;</span>
													<span class="created-on">		<span><span>October  2</span> on <a href="http://fb.oodle.com/" target="_top" rel="nofollow">Facebook</a></span>

													</span>
			
		</div>
	
		
		
	
	
			</div>

							</div>

									
						
			
		</li>
	</ol>

<script type="text/javascript">
fire(function() {
	});
</script>

			<a href="http://cars.oodle.com/used-cars/new-york-area/">View All Similar Listings</a>
		</div>
	</div>
													</div> 			<div id="main-right-col">
																						<div class="wbgbr">
	<h6 class="heading section-heading">Visit Our Partner Website</h6>
		This listing was posted on another website. Click here to open:
		<a class="click-off-link" href="http://ny.oodle.com/r_dtmn_/3535243796-10398u454,5/showroom.auction123.com___LilXHoJj__caPNFlHpwIZ8RDejsTNsKm3nuiSVEYR9R2vwBx0QgO08QrGz-DvOz75pWGPr7Rl_qLfD3KfIeX-WEYYi9Awx5rcb-L4qCi9RZGPiH0_eEtsDEA6PXV-OydgEvcUbURSR0," target="_blank" rel="nofollow" style="color: #ffffff;">Go to Lexus of Englewood (via Auction123)</a>
</div>
								
								
								
				<div class="wbgbr">
	<h6 class="heading section-heading"><a id="seller-listing-module-title-link" href="/2000_2010-lexus-gx_470/new-york-area/mileage_100000+/price_16000_22000/" target="_top" data-odl-event="{event_name: 'seller_listings', event_type: 'view_all'}">Similar Listings</a></h6>

			
	<div id="seller-image-frame-container" class="clearfix">
					
			<a href="/r_dtso_/3532455305-2p454,485/www.cars.com___f80UIMUlHIhWlwoFEQdiixaZBaT1j-jYgyAnl__DHV2d6qTpZxGgUMx49n2xGZKr6-dOcMn-VrMv_WQ-OwCJVmcZnQpmx3yu053Ndn9pt-VQb44cdKArew,,">
			<div class="seller-image-frame">
				<img class="tile" title="2004 Lexus gx 470 Gold, 105K miles |  Gold 2004 Lexus gx 470 Car for Sale in Edison NJ | 3532455305" src="http://i.oodleimg.com/item/3532455305t_1m?1384460594" />
			</div>
			</a>
					
			<a href="/r_dtso_/3530513708-2p456,485/www.cars.com___f80UIMUlHIhWlwoFEQdiixaZBaT1j-jYgyAnl__DHV2d6qTpZxGgUMx49n2xGZKr6-dOcMn-VrMv_WQ-OwCJVv5HSdjdCQiBTwgILf8GroFQb44cdKArew,,">
			<div class="seller-image-frame">
				<img class="tile" title="2006 Lexus gx 470 Silver, 117K miles |  Silver 2006 Lexus gx 470 SUV in Edison NJ | 3530513708" src="http://i.oodleimg.com/item/3530513708t_1m_2006_lexus_gx_470/?1384034294" />
			</div>
			</a>
					
			<a href="/r_dtso_/3520340066-1768u454,1385/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpSBmXzNXTJjnb90hzsDTsRA,">
			<div class="seller-image-frame">
				<img class="tile" title="2004 Lexus GX 470 (Black Onyx) |  Black 2004 Lexus gx 470 Car for Sale in Rockville Centre NY | 3520340066" src="http://i.oodleimg.com/s/car_lexus_gx_470_2004/stock/1m.jpg" />
			</div>
			</a>
					
			<a href="/r_dtso_/3494454467-11058u456,5/www.carsforsale.com___JIIvnj9_3np1glxry8N3Rb8ifHoQi-pIMV1Pt9cAjFWfTQ0DWSdJ6DSNO2V3RLi3SJU7JOTv-WIzOHw-O2_Z7bN69XWV-Wpob90hzsDTsRA,">
			<div class="seller-image-frame">
				<img class="tile" title="Used 2007 Lexus GX 470 for sale. |  Blue 2007 Lexus gx 470 SUV in Brooklyn NY | 3494454467" src="http://i.oodleimg.com/item/3494454467t_1m_2007_lexus_gx_470/?1380199251" />
			</div>
			</a>
					
			<a href="/r_dtso_/3492431590-1768u454,485/usa.motoseller.com___5MFDxf2fdXxZNB1A-3FWu29F5nj8Kx8EBTbfrRv9US3ti11Q-B1DpXRwkb47u6clb90hzsDTsRA,">
			<div class="seller-image-frame">
				<img class="tile" title="2003 Lexus GX 470 (White) |  White 2003 Lexus gx 470 Car for Sale in Bridgewater NJ | 3492431590" src="http://i.oodleimg.com/s/car_lexus_gx_470_2003/stock/1m.jpg" />
			</div>
			</a>
					
			<a href="/r_dtso_/3451504815-2p454,485/www.cars.com___f80UIMUlHIhWlwoFEQdiixaZBaT1j-jYgyAnl__DHV2d6qTpZxGgUMx49n2xGZKr6-dOcMn-VrMv_WQ-OwCJVlVayQvalPdrnILf0hDbDwpQb44cdKArew,,">
			<div class="seller-image-frame">
				<img class="tile" title="2006 Lexus gx 470 Silver, 118K miles |  Silver 2006 Lexus gx 470 Car for Sale in Jersey City NJ | 3451504815" src="http://i.oodleimg.com/item/3451504815t_1m?1378053556" />
			</div>
			</a>
			</div>
	
	<div class="section-subheading right-alignment">
		<a href="/2000_2010-lexus-gx_470/new-york-area/mileage_100000+/price_16000_22000/" target="_top" data-odl-event="{event_name: 'seller_listings', event_type: 'view_all'}">
			View All Listings  
		</a>
	</div>
</div>
				
												
									<div class="wbgbr2">
						<div class="trustsafety">
	<div class="heading1">
		Important Safety Tips
	</div>
	
	<div id="ts-content-wrapper">
					<ul class="fraud-tips">
									<li>Meet the seller and test drive before you buy.</li>
									<li>Be cautious of underpriced items.</li>
									<li>Don&rsquo;t wire money or take advance payments.</li>
									<li>Only pay for shipping if you know the seller.</li>
							</ul>
				
		<p>
			To learn more, visit the <a href="/info/safety/">Safety Center</a>
							or <a href="javascript:void(0)" onclick="Oodle.Wizard.Show(&#039;message&#039;, &#039;report_listing&#039;, {&#039;listing_id&#039;:&#039;3535243796&#039;,&#039;page&#039;:&#039;preview&#039;,&#039;category&#039;:&#039;null&#039;}); return false;;return false;">click here</a>
				to report this listing.
					</p>
	</div>
</div>					</div>
													<div id="relatedSearchBoomReach" class="wbgbr2">
	<script type="text/javascript">var br_related_rid = "Rtjff18zkkacnbphxdhos-uf,r0,m0,h0";</script>
<script type="text/javascript">var br_iuid = "aHR0cDovL2NhcnMub29kbGUuY29tL2RldGFpbC8yMDA1LWxleHVzLWd4LTQ3MC8zNTM1MjQzNzk2LWVuZ2xld29vZC1uai8=";</script>
	<script type="text/javascript">
		var brRelated = jQ('.br-related-query:gt(4)');
		if(typeof brRelated.get(0) === "undefined")
		{
			jQ('#relatedSearchBoomReach').hide();
		}
		else
		{
			jQ('#relatedSearchBoomReach').show();	
			brRelated.hide();
			var brMoreLinkDiv = document.createElement('div');
			jQ(brMoreLinkDiv).addClass('br-related-query');
	
			var brMoreLinkArrow = document.createElement('span');
			jQ(brMoreLinkArrow).addClass('br-related-query-more');
			
			var brMoreLink = document.createElement('a');
			jQ(brMoreLink).attr('href', 'javascript:void(0)');
			jQ(brMoreLink).html('More ');
			jQ(brMoreLinkDiv).append(brMoreLink);
			jQ(brMoreLinkDiv).append(brMoreLinkArrow);
			jQ('#br-related-searches-widget').append(brMoreLinkDiv);
			jQ(brMoreLinkDiv).click( function () {
				jQ(brMoreLinkDiv).hide();
				brRelated.show();
			});
		}
	</script>
</div>
							</div> 		</div>			
		<div class="clearing"></div>
		
					<div class="module-bottom">	
				
					<div class="clearfix module-bottom-text">
								<strong class="module-bottom-h1">More About this Listing: 2005 Lexus GX 470</strong><br>
									 
			2005 Lexus GX 470 is a Black 2005 Lexus gx 470 Car for Sale in Englewood NJ. Find other listings by searching for <a href="http://cars.oodle.com/2005-lexus-gx_470/new-york-area/">2005 Lexus gx 470 in New York</a> on Oodle Marketplace. 
						</div>				
				
			</div>

     				
	</div> 		<div id="sidebar">
		<div id='adRail'>
										<div id='div-gpt-ad-1346975622459-0' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-0', tile=1); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-1' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-1', tile=3); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-2' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-2', tile=4); });
</script>
</div>

										<div id='div-gpt-ad-1346975622459-3' style='width:300px; height:250px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-3', tile=5); });
</script>
</div>

						</div>
	</div>
		
<script type="text/javascript">

var current_listing_id = '3535243796';

var is_preview_page = '1';

var next_listing_module_load = 0;
if (jQ('#next-listings-wrap').css('display') == 'block')
	var next_listing_module_load = '1';

var has_image = '0';
if (jQ('#photo-view').css('display') == 'block')
	var has_image = '1';

odl.event.trackNamed({
	event_name: 'seller_header', 
	event_type: 'next_listing_module_load', 
	status:'next_listing', 
	IDP_Listing_ID: current_listing_id,
	has_image: has_image,
	is_preview_page: is_preview_page,
	next_listing_module_load : next_listing_module_load,
	algo_logic: 'OTHER'
});
</script>
</div>
		
</div> </div> </div> </div><div id="footer"
 class="clearfix" style="margin-top: 20px;">
<div id="footer-container">
 <div style="padding:3px;font-size:12px;">
 We've recently updated our privacy policy which you can <a href="/info/privacy/">review here</a>.
 </div>
 <div id="dfp-ad-top-banner-wrapper"><div id="dfp-ad-top-banner"><div id='div-gpt-ad-1346975622459-4' style='width:728px; height:90px; margin-bottom: 15px; '>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-4', tile=6); });
</script>
</div>
</div></div>
 <div id="dfp-ad-top-banner-wrapper"><div id="dfp-ad-top-banner"><div id='div-gpt-ad-1346975622459-5' style='width:728px; height:90px; margin-bottom: 30px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1346975622459-5', tile=7); });
</script>
</div>
</div></div>
<ul class="hmenu">
<li class="first"><a href="http://www.oodle.com/info/about/" rel="nofollow">About Us</a></li>
<li><a href="http://blog.oodle.com/" rel="nofollow">Blog</a></li>
<li><a href="http://www.oodle.com/info/help/" rel="nofollow">Help</a></li>
<li><a href="http://www.oodle.com/info/safety/" rel="nofollow">Safety Center</a></li>
<li><a href="http://www.oodle.com/info/privacy/" rel="nofollow">Privacy Policy</a></li>
<li><a href="http://www.oodle.com/info/terms/" rel="nofollow">Terms of Use</a></li>
<li><a href="http://gather.qvc.com/" >toGather</a></li>
<li><a href="http://www.surveymonkey.com/s/YSGG88J" target="_blank" rel="nofollow">Send us Feedback</a></li>
</ul>
<ul id="second-line-footer" class="hmenu">
<li><a href="javascript:void(0);" onclick="Oodle.FbProfileTab.install();">Add my listings to a Facebook Page</a></li>
<li><a href="/info/mobile/" target="top" rel="nofollow">Get Marketplace on your Phone</a></li>
</ul>
</div>
<div id="footer-copyright">&copy; Copyright 2013 <a href="http://www.oodle.com/" class="underlined-link" >California Voices, LLC</a>. All rights reserved.<br></div>
</div>
<!--/footer-->
<div id="hiddenmodals" style="height: 1px;width: 335px;"></div>
<div id="hiddenfacets" style="height: 1px;width: 690px;"></div>
<script>
var ab_type = '3';
</script>
<script type="text/javascript">
// Google Plus button ujs
function __gpluscallback(event) {
if (event && event.state) {
var url = event.href.split('?')[0];
safecall(function() {
var listingID = odl.listingShare.lookupTable[url];
odl.listingShare.track({'event_type': 'google_plusone', 'status': event.state, 'listing_id': listingID});
jQ.get('/share/googleplus-ajax-cbk/', {listing_id: listingID, user_id: odl.info.user_id, status: event.state});
}, function() { return typeof(odl.listingShare); });
}
};
odl.async.ujs();
jQuery(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
});
</script>
</div><!--/container-->
<script type="text/javascript" src="http://i.oodleimg.com/jaml/footerlib/1368741567?cc=USA&partner=www"></script>
<script type="text/javascript" src="http://img.oodle.com/exjs/recaptcha/31384531200"></script>
<script>
fire(odl.fb.init);
</script>
<div id="reporting-view">
<!-- Start coremetrics -->
<script language="javascript1.1" type="text/javascript">var cm_JSFEnabled = true; var cm_JSFPCookieDomain = "oodle.com";</script>
<script type="text/javascript" src="http://i.oodleimg.com/jaml/reporting/1368741553?cc=USA&partner=www"></script>
<script language="javascript1.1" type="text/javascript">
var odl = window.odl || {};
odl.reporting = odl.reporting || {};
odl.reporting.extraFields = "ny-_-vehicle-_-vehicle/car-_-www USA-_-www-_-USA-_-oodle-_-detail-_--_-3535243796-_--_--_--_--_-";
odl.reporting.replyExtraFields = "ny-_-vehicle-_-vehicle/car-_-3535243796-_-www-_-USA-_-oodle-_-detail-_--_-3535243796-_--_--_--_--_-";
cmSetProduction();
cmCreatePageviewTag("detail","454","","","ny-_-vehicle-_-vehicle/car-_-www USA-_-www-_-USA-_-oodle-_-detail-_--_-3535243796-_--_--_--_--_-");
</script>
<!-- End coremetrics -->
<!-- start GA -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-2202900-6']);
_gaq.push(['_setDomainName', '.oodle.com']);
_gaq.push(['_setCustomVar', 1, 'Partner', 'www', 3]);// Set visitor level 
_gaq.push(['_setCustomVar', 2, 'Member Type', 'anonymous', 3]);// Set session level
_gaq.push(['_setCustomVar', 3, 'Page Type', '6', 3]);// Track page type
_gaq.push(['_trackPageview']);
setTimeout(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
}, 100);
</script>
<script type="text/javascript">
var odlRptEvts = [];
var pageViewEvent = {"event_name":"page_view","partner":"www","masq":"www","country":"USA","region_id":5,"page":"IDP","cm_page_name":"detail","cm_core_id":null,"event_type":"other","uri":"http:\/\/cars.oodle.com\/detail\/2005-lexus-gx-470\/3535243796-englewood-nj\/","entry_category":"vehicle","is_mobile":0,"region_url":"ny","cm_partner_tag":"oodle","cm_page_type":"detail","multivar_test":"","listing_id":"3535243796","paid":null,"listing_source":null,"search_executed":"","revenue_scores":""};
odlRptEvts.push(pageViewEvent);
if (odlRptEvts.length > 0)
odl.event.trackNamed(odlRptEvts);
odl.boomerang.sendData();
</script>
</div>
<!-- BloomSurface tracking code. Place at foot of page. -->
<div id="odl-bloom-reach"></div>
<script type="text/javascript">
var br_data = {};
/* --- Begin parameters section: fill in below --- */
br_data.acct_id = "4059";
br_data.ptype = "product";
br_data.prod_id = "3535243796";
br_data.prod_name = '2005 Lexus GX 470';
br_data.user_id = "";
br_data.is_conversion = 0;
br_data.cat = "vehicle/car|USA|NY|New York Area|Lexus|Gx 470|2005";
/* --- End parameter section --- */
var file = ("https:" == document.location.protocol) ? "https://cdns.brsrvr.com/v1/br-trk.js" : "http://cdn.brcdn.com/v1/br-trk.js";
LazyLoad.js(file, null, null, null);
</script>
<script type="text/javascript">
safecall(
 function () {
var tracker = BrTrk.getTracker(0.2, br_data);
tracker.enableTracking();
}
);
</script>
<script type='text/javascript'>
var crtg_nid="1764";
var crtg_cookiename="cto_oodle";
var crtg_varname="crtg_content";
var crtg_content = jQuery.cookie('cto_oodle');
var crtg_rnd=Math.floor(Math.random()*99999999999);
var crtg_url=location.protocol+'//rtax.criteo.com/delivery/rta/rta.js?netId='+escape(crtg_nid);crtg_url+='&cookieName='+escape(crtg_cookiename);crtg_url+='&rnd='+crtg_rnd;crtg_url+='&varName=' + escape(crtg_varname);
var crtg_script=document.createElement('script');crtg_script.type='text/javascript';crtg_script.src=crtg_url;crtg_script.async=true;
if(document.getElementsByTagName("head").length>0)document.getElementsByTagName("head")[0].appendChild(crtg_script);else if(document.getElementsByTagName("body").length>0)document.getElementsByTagName("body")[0].appendChild(crtg_script);</script>
</script>
<!-- BEGIN Tynt Script -->
<div id="odl-tynt-js"></div>
<script type="text/javascript">
var tyntJS = "<script type='text/javascript'>" +
 "if(document.location.protocol=='http:'){" + 
 "var Tynt=Tynt||[];Tynt.push('aRv_w66VKr4y5vacwqm_6r');Tynt.i={'ap':'Read more:'};" + 
 "(function(){var s=document.createElement('script');s.async='async';s.type='text/javascript';s.src='http://tcr.tynt.com/ti.js';var h=document.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})();" + 
 "}" + 
 "<\/script>";
jQ(window).load(function() {
postscribe('#odl-tynt-js', tyntJS);
});
</script>
<!-- END Tynt Script -->
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrf2","beacon-6.newrelic.com","a896c87a89","955323","NlJRZEdTDUtZUUYLXg8YcEVGRgxVF1ZXFlAIWw==",0,366,new Date().getTime()]);</script>
</body>
</html>

